html,
body {
  margin: 0;
  padding: 0;
  top: 0;
}
body {
  background-color: rgb(26, 26, 26);
  margin: 0% 10% 0% 10%;
}

#main_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#img,
#canvas_img {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  border-radius: 5px;
}

#main_section input {
  margin: 50px;
}

#main_section button,
#img_btn {
  border-radius: 8px;
  border: 1px solid rgba(245, 245, 220, 0);
  padding: 10px;
  cursor: pointer;
  background-color: bisque;
}

#main_section button:hover {
  background-color: rgba(112, 133, 255, 0.527);
  transition: 150ms;
  color: #fff;
  box-shadow: rgba(255, 255, 255, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:disabled {
  pointer-events: none;
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

#info {
  font-size: 10pt;
}

#info {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 12pt;
}

.comment {
  color: white;
}
